body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

h1.title {
  margin: 0;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  border: 3px solid #fff;
}

.content {
  background: #e3f4ff;
  border: 3px solid #fff;
  padding: 12px;
}

.button-container {
  background: #e3f4ff;
  padding: 1em;
  text-align: center;
  border: 3px solid #fff;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 12px auto;
  display: block;
  
}